AWS_REGION=ap-southeast-1
PROJECT_NAME=node-aws-api
ENVIRONMENT_NAME=dev
STACK_NAME=node-aws-api-dev
DATABASE_NAME=node_aws_api
DATABASE_USERNAME=app_user
DATABASE_PASSWORD=replace-with-at-least-16-characters
IMAGE_TAG=latest
